.logo-icon {
    width: 20px;
    height: 28px;
    background-color: transparent;
    border-left: 6px solid #d03801;
    border-right: 6px solid #d03801;
    border-bottom: 14px solid #d03801;
    transform: rotate(45deg);
    margin-top: 2px;
  }
  