<div class="card">
    <div class="card-header">
      <h5 class="mb-0">Formulario de Requisición</h5>
    </div>
  
    <div class="card-body">
      <form>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label">Departamento</label>
            <input type="text" class="form-control">
          </div>
  
          <div class="col-md-4">
            <label class="form-label">Nombre del Solicitante</label>
            <input type="text" class="form-control">
          </div>
  
          <div class="col-md-4">
            <label class="form-label">Puesto a Cubrir</label>
            <input type="text" class="form-control">
          </div>
        </div>
  
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="form-label">Cantidad</label>
            <input type="number" class="form-control">
          </div>
  
          <div class="col-md-3">
            <label class="form-label">Fecha</label>
            <input type="date" class="form-control">
          </div>
        </div>
  
        <div class="text-end">
          <button type="submit" class="btn btn-success">
            <i class="fas fa-save me-2"></i>Guardar
          </button>
          <a routerLink="/requisition" class="btn btn-secondary ms-2">
            <i class="fas fa-arrow-left me-2"></i>Volver
          </a>
        </div>
      </form>
    </div>
  </div>
  